{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero">
	<div class="hero-left">
		<h2 class="hero-title">THE Library</h2>
		<p class="hero-sub">Issue your books online here</p>
		<a class="btn-issue" href="{% url 'book_list' %}">Issue</a>

		<div class="corner-logo">
			<img src="{% static 'images/images.jpg' %}" alt="logo" class="logo-img-small">
		</div>
	</div>

	<div class="hero-right">
		<img src="{% static 'images/images (1).jpg' %}" alt="Library" class="hero-image">

		<div class="open-hours" style="margin-top:18px;">
			<h4>OPEN HOURS</h4>
			<p><strong>Days</strong> &nbsp; &nbsp; <strong>Open</strong> &nbsp; <strong>Close</strong></p>
			<hr>
			<p>Weekdays (Mon–Fri) &nbsp; ___</p>
			<p>Weekend (Sat–Sun) &nbsp; ___</p>
		</div>
	</div>
</section>

{% endblock %}